<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>Example1</servlet-name>
		<servlet-class>fi.turkuamk.examples.example1.Example1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Example1</servlet-name>
		<url-pattern>/example1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Example2</servlet-name>
		<servlet-class>fi.turkuamk.examples.example2.Example2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Example2</servlet-name>
		<url-pattern>/example2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Example3</servlet-name>
		<servlet-class>fi.turkuamk.examples.example3.Example3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Example3</servlet-name>
		<url-pattern>/example3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Example4</servlet-name>
		<servlet-class>fi.turkuamk.examples.example4.TwigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Example4</servlet-name>
		<url-pattern>/store_and_view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Example5</servlet-name>
		<servlet-class>fi.turkuamk.examples.taskqueue.SchemaWorkerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Example5</servlet-name>
		<url-pattern>/worker/migrate</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
